---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutComponent from '../components/AboutComponent.astro';

const title = 'About me';
---
<BaseLayout pageTitle={title}>
  <h2>{title}</h2>
    <AboutComponent />
</BaseLayout>
