---
import BaseLayout from '../layouts/BaseLayout.astro';
import FeedComponent from '../components/FeedComponent.astro';

const title = "Feed";
---
<BaseLayout pageTitle={title}>
  <h2>{title}</h2>
  <FeedComponent />
</BaseLayout>
