---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostsComponent from "../components/PostsComponent.astro";
import WorkComponent from "../components/WorkComponent.astro";
import FeedComponent from "../components/FeedComponent.astro";
import AboutComponent from "../components/AboutComponent.astro";
import Columns from "../components/Columns.astro";
import Column from "../components/Column.astro";

const title = "Phlippie Bosman";
const years = (new Date()).getFullYear() - 2016;
const topBlurb =
  "Mobile software engineer with " + years + " years' experience creating digital products, specialising in Swift/iOS mobile applications, with exposure to the full stack. Team and technical lead biased for action. Passionate about clean software design and ergonomics, continuous learning and knowledge sharing, and excellent user experiences.";
---

<BaseLayout pageTitle={title}>
  <h1>{title}</h1>
  <Columns><Column><p>{topBlurb}</p></Column></Columns>

  <h2>Posts</h2>
  <PostsComponent limit="4" />
  <a href="/posts">View all posts</a>

  <h2>Feed</h2>
  <FeedComponent limit="4" />
  <a href="/feed">View all updates</a>

  <h2>Work</h2>
  <WorkComponent />

  <h2>About</h2>
  <AboutComponent />
</BaseLayout>

<style>
  h1 {
    font-size: 5rem;
    font-weight: 400;
  }

  h2::before {
    display: block;
    content: "";
    margin-top: 150px;
    border-bottom: 1px solid var(--primary);
  }

  h2::after {
    display: block;
    content: "";
    margin-top: 100px;
  }

  h2 {
    font-size: 3em;
    font-weight: 400;
  }

  h3 {
    font-size: 2em;
    margin-top: 100px;
  }

  h4 {
    letter-spacing: 0em;
  }

  p {
    letter-spacing: -0.034em;
  }
</style>
