---
import BaseLayout from '../layouts/BaseLayout.astro';
import OpenSourceComponent from '../components/OpenSourceComponent.astro';
---
<BaseLayout>
    <h2>Open source</h2>
    <OpenSourceComponent />
</BaseLayout>

