---
import BaseLayout from '../layouts/BaseLayout.astro';
import OpenSourceComponent from '../components/OpenSourceComponent.astro';

const title = 'Open source';
---
<BaseLayout pageTitle={title}>
    <h2>{title}</h2>
    <OpenSourceComponent />
</BaseLayout>

