---
import BaseLayout from '../layouts/BaseLayout.astro';
import PackagesComponent from '../components/PackagesComponent.astro';

const title = 'Packages';
---
<BaseLayout pageTitle={title}>
  <h2>{title}</h2>
  <PackagesComponent />
</BaseLayout>

