---
import BaseLayout from '../layouts/BaseLayout.astro';
import PackagesComponent from '../components/PackagesComponent.astro';
---
<BaseLayout>
  <h2>Packages</h2>
  <PackagesComponent />
</BaseLayout>

