---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostsComponent from '../components/PostsComponent.astro';

const title = "Posts";
---
<BaseLayout pageTitle={title}>
  <h2>{title}</h2>
  <PostsComponent />
</BaseLayout>
