---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectsComponent from '../components/ProjectsComponent.astro';

const title = 'Projects';
---
<BaseLayout pageTitle={title}>
  <h2>{title}</h2>
  <ProjectsComponent />
</BaseLayout>
