---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectsComponent from '../components/ProjectsComponent.astro';
---
<BaseLayout>
  <h2>Projects</h2>
  <ProjectsComponent />
</BaseLayout>
