
---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResumeComponent from '../components/ResumeComponent.astro';

const title = 'Resume';
---
<BaseLayout pageTitle={title}>
    <h2>{title}</h2>
    <ResumeComponent />
</BaseLayout>

