---
import BaseLayout from '../layouts/BaseLayout.astro';
import SkillsComponent from '../components/SkillsComponent.astro';

const title="Skills";
---
<BaseLayout pageTitle={title}>
  <h2>{title}</h2>
    <SkillsComponent />
</BaseLayout>
