---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BoxesComponent from '../components/BoxesComponent.astro';
---
<BaseLayout>
  <h1>Test boxes</h1>
  <div class="table">
    <div class="row">
      <div class="col">
        <BoxesComponent seed="1" >
          A title could go here and could be quote long?
        </BoxesComponent>
      </div>
      <div class="col">
        <BoxesComponent seed="qqqq">
          Another title
        </BoxesComponent>
      </div>
      <div class="col">
        <BoxesComponent seed="asdf">
          Another title
        </BoxesComponent>
      </div>
      <div class="col">
        <BoxesComponent seed="asdf" />
      </div>
    </div>
  </div>
</BaseLayout>

