---
import BaseLayout from '../layouts/BaseLayout.astro';
import WorkComponent from '../components/WorkComponent.astro';

const title ="Work";
---
<BaseLayout pageTitle={title}>
    <h2>{title}</h2>
    <WorkComponent />
</BaseLayout>
