---
---
<p>
  Phlippie rhymes with Clippy <br>
  Fluent in English and Afrikaans <br>
  <a href="https://www.retrorabbit.co.za/">iOS developer at Retro Rabbit</a> <br>
  South Africa <br>
  GMT+2 <br>
  He/him <br>
</p>

<p>
  Email:
  <a href="mailto:phlippie.bosman@gmail.com">phlippie.bosman@gmail.com</a>
  <br>

  GitHub:
  <a href="https://github.com/phlippieb">phlippieb</a>
  <br>

  LinkedIn:
  <a href="www.linkedin.com/in/phlippie-bosman-1b75892a3">Phlippie Bosman</a>
  <br>
  
  Stack Overflow:
  <a href="https://stackoverflow.com/users/1469018/phlippie-bosman">Phlippie Bosman</a>
</p>
