---
---
<p>
  Phlippie rhymes with Clippy <br>
  Fluent in English and Afrikaans <br>
  iOS developer at Retro Rabbit <br>
  South Africa <br>
  GMT+2 <br>
  He/him <br>
</p>

<h4>Email</h4>
<a href="mailto:phlippie.bosman@gmail.com">phlippie.bosman@gmail.com</a>

<h4>GitHub</h4>
<a href="https://github.com/phlippieb">phlippieb</a>

<h4>LinkedIn</h4>
<a href="www.linkedin.com/in/phlippie-bosman-1b75892a3">Phlippie Bosman</a>