---
const {seed} = Astro.props;
const totalColours = 4;

const n = Array.from(seed as string)
.map((_, i) => seed.charCodeAt(i))
  .reduce((sum, n) => sum * n) 
  % totalColours;

let m = Array.from(seed).length
  // .map((_, i) => seed.charCodeAt(i))
  // .reduce((sum, n) => sum * n)
  % totalColours;
if (n === m) { m = (m + 1) % totalColours }
---
<div class="boxcontainer">
  {m%2==0
    ? <div class={"box1" + m} />
    : ""
  }
  
  <div class={"box0" + n}>
    <div class="boxtext">
      <slot/>
    </div>
  </div>
  
  {m%2==1
    ? <div class={"box1" + m}></div>
    : ""
  }

</div>

<style>
  .boxcontainer {
    width: 75%;
    overflow: hidden;
    border: 1px solid var(--primary);
  }

  .box00, .box01, .box02, .box03 {
    width: 50%;
    aspect-ratio: 1;
    float: left;
    display: flex;
  }
  
  .box10, .box11, .box12, .box13 {
    width: 25%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    float: left;
  }

  .box00, .box10 {
    background-color: blue;
    color: white;
  }

  .box01, .box11 {
    background-color: yellow;
    color: black;
  }

  .box02, .box12 {
    background-color: var(--primary);
    color: var(--bg);
  }

  .box03, .box13 {
    background-color: #009FBD;
    color: white;
  }

  .boxtext {
    /* position: absolute; */
    display: inline-block;
    align-self: flex-end;

  }
</style>
