---
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

// An icon shown in the top left
// NOTE: The weird unicode bit tells the browser to
// render it as a unicode char, not as an emoji.
const icon = "🌐";
const siteTitle = "phlippieb";

// Nav links
const posts = { title: "Posts", path: "/posts/" };
const work = { title: "Work", path: "/work/" };
const feed = { title: "Feed", path: "/feed" };
const about = { title: "About", path: "/about/" };

const navLinks = [posts, feed, work, about];
---

<header>
  <nav>
    <!-- Left side: icon, title, breadcrumbs -->
    <div>
      <span class="accent">
        {icon}&#xFE0E;
      <!-- </span> -->
      <!-- TODO: Fix breadcrumbs displaying on next line -->
      <!-- <span> -->
      <Breadcrumbs
        indexText={siteTitle}
        linkTextFormat="capitalized"
        ariaLabel="a structured list of pages"
        separatorAriaHidden=false
      >
        <svg
          slot="separator"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </Breadcrumbs>
      </span>
    </div>
    

    <!-- Right side: nav links -->
    <div>
      {
        navLinks.map((navLink) => (
          <span>
            <a href={navLink.path}>{navLink.title}</a>
          </span>
        ))
      }
    </div>
  </nav>
</header>

<style>
  header {
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
  }
</style>
