---
import Columns from './Columns.astro';
import Column from './Column.astro';

const {limit} = Astro.props;
const items = [

"https://github.com/realm/SwiftLint/pull/5487",
"https://github.com/zxh0/vscode-proto3/pull/83",
"https://github.com/realm/realm-swift/pull/6533",
"https://github.com/tuist/microfeatures-guidelines/pull/3",
"https://github.com/CosmicMind/Material/pull/1269",
"https://github.com/andybest/linenoise-swift/pull/14",
"https://github.com/onevcat/FengNiao/pull/43",
"https://github.com/imaginary-cloud/CameraManager/pull/199",
"https://github.com/CosmicMind/Material/pull/1079",
"https://github.com/CosmicMind/Material/pull/1047",
"https://github.com/ReactiveX/RxSwift/pull/1208",
"https://github.com/eBay/NMessenger/pull/118",
"https://github.com/schickling/Icomoon.swift/pull/3",  
]
//  .filter((p) => p.data.listed)
  .slice(0, limit ?? 999);
---
<Columns>
  <Column>

  <p>
    {items.map((item) => 
      <a href={item} class="no-underline">
        {item.replace('https://github.com/', '')}
      </a>
      <br>
    )}
  </p>

</Column>
</Columns>
