---
import Columns from './Columns.astro';
import Column from './Column.astro';

const blurb = "I have over 8 years' professional experience as a mobile software engineer, primarily focusing on iOS mobile application development, with exposure to the full stack. I've worked in environments ranging from lean startups to enterprises. My skills include hands-on production experience with the following:";

type CategoryAndSkills = [string, string[]];
const skills: CategoryAndSkills[] = [
  ["iOS engineering", [
  "Swift",
  "Objective-C",
  "SwiftUI ",
  "SwiftData ",
  "UIKit ",
  "Share extensions",
  "Widgets",
  "Localization",
  "Certificates and profiles management",
  "App Store and Test Flight deployment"
  ]],

  ["iOS frameworks and tools", [
    "Realm",
    "Firebase",
    "RxSwift",
    "SwiftyJSON",
    "AutoLayout",
    "SwiftLint",
    "Fastlane",
  ]],

  ["Networking", [
    "REST",
    "gRPC",
    "Protocol buffers",
    "Go middleware",
  ]],

  ["Testing", [
    "Unit testing",
    "XCTest framework",
    "Quick/Nimble",
    "TDD",
  ]],

  ["Other mobile engineering", [
    "Flutter",
    "Dart",
    "Ionic",
  ]],

  ["Other stack exposure", [
    "Relational databases",
    "Node.js",
    "Vue.js",
  ]],

  ["CI/CD", [
    "Bitrise",
    "GitHub Actions",
  ]],

  ["Methodologies", [
    "Agile",
    "Scrum",
  ]]
];
---
<Columns>
  <Column>
    <p>{blurb}</p>
  </Column>
</Columns>

<Columns>
  {skills.map((category) => 
  <Column>
    <div class="post-preview">
        <h4>{category[0]}</h4> 
        {category[1].map((s) =>
          <div>{s} </div>
        )}
      </div>
  </Column>
  )}
</Columns>
