---
import PackagesComponent from "./PackagesComponent.astro";
import ProjectsComponent from "./ProjectsComponent.astro";
import ResumeComponent from "./ResumeComponent.astro";
import OpenSourceComponent from "./OpenSourceComponent.astro";
import TalksComponent from './TalksComponent.astro';
---
<h3>Projects</h3>
<ProjectsComponent limit=4 />
<a href="/projects">View all projects</a>

<h3>Packages</h3>
<PackagesComponent limit=4 />
<a href="/packages">View all packages</a>

<h3>Open source contributions</h3>
<OpenSourceComponent limit=4 />
<a href="/opensource">View all open source contributions</a>

<h3>Talks</h3>
<TalksComponent />
<a href="/talks">View all talks</a>

<h3>Resume</h3>
<ResumeComponent />
